@use '../../styles/abstracts/colors' as *;

.pagination {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 15px;
  position: relative;
  transform: translateX(-340px);
  font-weight: 400;
  button {
    width: 36px;
    height: 36px;
    font-weight: 300;
    background: none;
    border: none;
    border: 1px solid $pagination-border;
    box-shadow: inset 0px 4px 12px -4px $pagination-shadow;
    border-radius: 50%;
    opacity: 0.5;

    &:hover {
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 768px) {
  .pagination {
    transform: translateX(-75%);
  }
}

@media screen and (max-width: 600px) {
  .pagination {
    transform: translate(-5%);
  }
}
