$body-bg: #12141b;
$bg-dark: #13161d;
$font-main: #dcd8d3;
$font-mute: #8c8988;
$user-bg: #181b22;
$border-main: rgba(207, 123, 90, 0.2);
$container-bg: rgba(30, 32, 39, 0.7);
$border-orange: rgb(248, 124, 74);
