@use '../../styles/abstracts/colors' as *;
@use '../../styles/abstracts/mixins' as *;

.container {
  width: 95vw;
  max-width: 1376px;
  min-height: 600px;
  background-color: $container-bg;
  border-radius: 40px;
  border: 1px solid $border-main;
  margin: 32px auto 0;
  padding: 40px 30px;
  overflow: auto;
  @include scrollbar;
  // &::-webkit-scrollbar {
  //   width: 5px;
  //   height: 15px;
  // }
  // &::-webkit-scrollbar-thumb {
  //   border-radius: 10px;
  //   border: 1px solid $border-orange;
  // }
  // &::-webkit-scrollbar-thumb:hover {
  //   background: $border-orange;
  // }
  // &::-webkit-scrollbar-track {
  //   border-radius: 10px;
  //   background: rgba(0, 0, 0, 0.1);
  // }
  .filters {
    display: flex;
    gap: 8px;
  }
  .table {
    margin-top: 24px;
    padding: 5px 12px;
    border-collapse: separate;
    border-spacing: 0px 8px;
    width: 100%;
    background-color: $bg-dark;
    border-radius: 16px;
    tbody {
      width: 100%;
    }
  }
  .tfooter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 34px;

    .rows-select {
      display: flex;
      align-items: center;
      gap: 16px;
      white-space: nowrap;
    }
  }
}

@media screen and (min-width: 1440px) {
  .container {
    overflow: hidden;
  }
}

@media screen and (max-width: 960px) {
  .container {
    padding: 20px 10px;
  }
}
