@use '../../styles/abstracts/colors' as *;

.container {
  max-width: 1376px;
  background-color: $container-bg;
  border-radius: 40px;
  border: 1px solid $border-main;
  margin: 32px;
  padding: 40px 30px;
  overflow-x: auto;
  .filters {
    display: flex;
    gap: 8px;
  }
  .table {
    margin-top: 24px;
    padding: 5px 12px;
    border-collapse: separate;
    border-spacing: 0px 8px;
    width: 100%;
    max-width: 1310px;
    background-color: $bg-dark;
    border-radius: 16px;
    tbody {
      width: 100%;
    }
  }
  th {
    text-align: start;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    overflow: hidden;
  }
}
