@use './styles/reset.scss';
@use './styles/abstracts/colors' as *;

@font-face {
  font-family: 'Jura';
  src: url(./assets/fonts/Jura.ttf);
}

* {
  font-family: 'Jura';
  font-size: 14px;
  color: $font-main;
  font-weight: 600;
}

body {
  background-color: $body-bg;
  min-width: 600px;
}
